bumpversion
wheel
coverage
Sphinx
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' -%}
cryptography
PyYAML{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest{%- endif %}

{% if cookiecutter.init_open_source == 'y' %}
open-source-init{% endif %}
