Flask-SQLAlchemy
flask
pystatuschecker
sqlalchemy
ujson
ultra-config
webtest
pylint
colorlog
psycopg2
flask-migrate
ultra-config
py-status-checker
coverage
scheming-flask
{% if cookiecutter.user == 'y' %}flask-user
{% endif %}colorlog
{% if cookiecutter.use_pytest == 'y' -%}
pytest{%- endif %}